<template name="Order">
  <ul id="order" class="home-list">
    <li class="order" id="order-{{_id}}">
      <div class="img">
        {{#if restaurant.image}}
        <img src="{{restaurant.image}}" alt="" style="width:70px;border-radius:100px;" />
        {{else}}
        <img src="/img/pizza-icon.png" alt="" style="width:70px;border-radius:100px;" />
        {{/if}}
      </div>

      <div class="who-mobile">
        {{by}} está pedindo
      </div>

      <div class="who">
        <span class="is-desktop"><strong>{{by}}</strong> está pedindo no</span> <strong>{{restaurant.name}}</strong>
      </div>

      <div class="break"></div>

      <div class="many">
        {{items.count}} pessoas pediram
      </div>

      <div class="closes">
        <span class="is-desktop">Termina em</span> <span class="friendly-time" data-time="{{closes}}">{{closesInFriendlyTime}}</span>
      </div>

      <div class="delivery">
        <span class="is-desktop">Entrega às</span> {{deliveryInFriendlyTime}}
      </div>

      <div class="total">
        R$ {{total deliveryFee}}
      </div>

      <div class="phone">
        {{restaurant.phone}}
      </div>

      <div class="clear"></div>
    </li>

    {{#unless displayOrder closes}}
      <li id="see-order" style="text-align:center;cursor:pointer;opacity:.5;">Ver o resumo do pedido</li>
    {{/unless}}

    {{#if displayOrder closes}}
    <li>
      <h3 style="margin:10px 0;" id="order-cart">Resumo do pedido</h3>
      {{#each cart}}
      <p style="border-bottom: 1px dashed #ccc;margin:0;padding:10px 0;">
      <strong style="color:#777;">{{amount}}</strong> <strong style="color:#9E9E9E;font-size:12px;">x</strong> {{name}}
      <span style="display:none;">({{whoWithCommas who}})</span>
      </p>
      {{/each}}
      <p><strong>Total:</strong> R$ {{total deliveryFee}} <span style="display:inline-block!important;margin-left:15px;" class="phone">{{restaurant.phone}}</span></p>
    </li>
    {{/if}}

    {{#unless isOpened closes}}
    <li class="order-something">
      {{> addItem}}
    </li>
    {{/unless}}

    <li class="header">
      <p>Quem?</p>
      <p>O quê?</p>
      <p>Quanto?</p>
      <p>Taxa de entrega</p>
      <p>Total</p>
      <p>Apagar?</p>
    </li>

    {{#each reverse items}}
      <li class="item">
        <p>{{name}}</p>
        <p class="is-mobile">R$ {{individualPrice cost individualFee}}</p>
        <p>{{what}}</p>
        <p class="is-desktop">R$ {{cost}}</p>
        <p>R$ {{individualFee}}</p>
        <p>R$ {{individualPrice cost individualFee}}</p>
        <p><span id="{{_id}}" class="button-red delete">Remover</span></p>
      </li>
    {{/each}}
  </ul>
</template>
