<template name="Order">
  <ul id="order" class="home-list">
    <li class="order" id="order-{{_id}}">
      <div class="img">
        {{#if restaurant.image}}
        <img src="{{restaurant.image}}" alt="" style="width:70px;border-radius:100px;" />
        {{else}}
        <img src="/img/pizza-icon.png" alt="" style="width:70px;border-radius:100px;" />
        {{/if}}
      </div>

      <div class="who-mobile">
        {{by}} está pedindo
      </div>

      <div class="who">
        <span class="is-desktop"><strong>{{by}}</strong> está pedindo no</span> <strong>{{restaurant.name}}</strong>
      </div>

      <div class="break"></div>

      <div class="many">
        {{items.count}} pessoas pediram
      </div>

      <div class="closes">
        <span class="is-desktop">Termina em</span> {{closesInFriendlyTime}}
      </div>

      <div class="delivery">
        <span class="is-desktop">Entrega às</span> {{deliveryInFriendlyTime}}
      </div>

      <div class="individual">
        R$ {{individualFee}}/taxa entrega
      </div>

      <div class="total">
        Total: R$ {{total deliveryFee}}
      </div>

      <div class="clear"></div>
    </li>

    {{#unless isOpened closes}}
    <li class="order-something">
      {{> addItem}}
    </li>
    {{/unless}}

    <li class="header">
      <p>Quem?</p>
      <p>O quê?</p>
      <p>Quanto?</p>
      <p>Taxa de entrega</p>
      <p>Total</p>
      <p>Apagar?</p>
    </li>

    {{#each items}}
      <li class="item">
        <p>{{name}}</p>
        <p>{{what}}</p>
        <p>R$ {{cost}}</p>
        <p>R$ {{individualFee}}</p>
        <p>R$ {{individualPrice cost individualFee}}</p>
        <p><span id="{{_id}}" class="button-red delete">Remover</span></p>
      </li>
    {{/each}}
  </ul>
</template>
