<template name="addRestaurant">
  <div id="add-restaurant">
    <h3>Adicionar restaurante</h3>

    <form>
      <p><input type="text" name="name" placeholder="Nome do restaurante" id="name" /></p>

      <p><input type="text" name="phone" placeholder="Número de telefone" id="phone" /></p>

      <p><input type="text" name="delivery-fee" placeholder="Taxa de entrega" id="delivery-fee" /></p>

      <p><input type="text" name="image" placeholder="URL do logo do restaurante" id="image" /></p>

      <p><input type="text" name="menu" placeholder="URL do cardápio/menu" id="menu" /></p>

      <p class="center"><input type="submit" class="button" value="Adicionar"></p>
    </form>
  </div>
</template>
