<template name="addOrder">
  <div id="add-order">
    <h3>Adicionar pedido</h3>

    <form>
      <p>
        <select name="restaurant" id="restaurant" required>
          <option selected>Selecione o restaurante</option>
          {{#each restaurants}}
            <option value="{{_id}}">{{name}}</option>
          {{/each}}
        </select>
      </p>

      <p><input type="text" name="my-name" placeholder="Qual o seu nome?" id="my-name" required /></p>

      <p><input type="text" name="delivery-fee" placeholder="Taxa de entrega" id="delivery-fee" required /></p>

      <p><input type="text" name="closing" placeholder="Que horas esse pedido fecha?" id="closing" required /></p>

      <p><input type="text" name="estimating" placeholder="Qual a estimativa de entrega?" id="estimating" required /></p>

      <p class="center"><input type="submit" class="button" value="Adicionar"></p>
    </form>
  </div>
</template>
