$button-color: #E8655C;
$button-hover-color: #D45148;

@mixin button {
	display: inline-block;
	color: #fff;
	background: $button-color;
	padding: 6px 12px;
	border-radius: 4px;
	text-decoration: none;
  outline: none;
}

a.button {
  @include button;
}

input.button {
  @include button;
	border: none;
	font-size: 16px;
}

a.button:hover, input.button:hover {
	background: $button-hover-color;
	cursor: pointer;
}

span.button-red {
  @include button;
  background: #DB4437;
  cursor: pointer;
}

span.button-red:hover {
  background: #B90504;
}
