footer .container {
	font-size: 13px;
	color: #555;
	text-align: center;
}

footer .container div {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	margin-bottom: 10px;
}

footer a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #ddd;
}

footer p {
	margin: 0;
	padding-bottom: 10px;
}
