.home-list ul {
	margin: 0;
	padding: 0;
}

.home-list li {
	background: #fff;
	list-style: none;
	margin: 20px 0;
	padding: 10px 20px;
}

#orders .home-list li:hover {
	background: #FDFBFB;
	cursor: pointer;
}

.home-list li div {
	display: inline-block;
}

.home-list .img {
	width: 90px;
	height: 70px;
	float: left;
}

.home-list .who {
	font-size: 20px;
	margin: 5px 0 5px;
}

.home-list .who a {
  font-size: x-small;
}

.home-list .break {
	display: block !important;
}

.home-list .many {
	background: url('../img/people.svg') no-repeat;
	background-size: 18px auto;
	padding-left: 25px;
	background-position: 0 2px;
	margin-right: 15px;
}

.home-list .closes {
	background: url('../img/clock.svg') no-repeat;
	background-size: 18px auto;
	padding-left: 25px;
	background-position: 0 2px;
	margin-right: 15px;
}

.home-list .delivery {
	background: url('../img/delivery.svg') no-repeat;
	background-size: 18px auto;
	padding-left: 25px;
	background-position: 0 2px;
	margin-right: 15px;
}

.home-list .total {
	background: url('../img/money.svg') no-repeat;
	background-size: 18px auto;
	padding-left: 25px;
	background-position: 0 2px;
	margin-right: 15px;
}

.home-list .phone {
	background: url('../img/phone.svg') no-repeat;
	background-size: 18px auto;
	padding-left: 25px;
	background-position: 0 2px;
	margin-right: 15px;
}

.home-list .menu {
	background: url('../img/menu.svg') no-repeat;
	background-size: 18px auto;
	padding-left: 25px;
	background-position: 0 2px;
	margin-right: 15px;
}

.home-list .menu a {
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd;
}

/* Closed */

#closed h3 {
	text-align: center;
}

#closed .home-list li {
	opacity: 0.5;
  cursor: pointer;
}

/* Hides */

.who-mobile {
	display: none !important;
}
